In [32]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

Напишіть функцію гіпотези лінійної регресії у векторному вигляді

In [33]:
def h(w, X):
    return np.dot(X, w)

Cтворіть функцію для обчислення функції втрат у векторному вигляді

In [34]:
def mse(w, X, y):
    m = X.shape[0]
    return np.square(h(w, X) - y).sum()/(2*m)

Реалізуйте один крок градієнтного спуску

In [35]:
def grad_descent(X, y, w, learning_rate=0.0001):
    N = X.shape[0]
    predictions = h(w, X)
    error = predictions - y
    grad = (1/N) * np.dot(X.T, error)
    w = w - learning_rate * grad
    return w

Знайдіть найкращі параметри $\vec{w}$ для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень

In [36]:
df = pd.read_csv('Housing.csv')
df.replace('NaN', np.nan, inplace=True)
display(df.head())

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [37]:
features = ['area', 'bedrooms', 'bathrooms']
X = df[features]
y = df['price']
model = LinearRegression().fit(X, y)
print(f'Scikit-learn coeficients: {model.coef_}')
print(f'Scikit-learn intercept: {model.intercept_}')

Scikit-learn coeficients: [3.78762754e+02 4.06820034e+05 1.38604950e+06]
Scikit-learn intercept: -173171.6076326333

c:\Users\irada\.venv\lib\site-packages\sklearn\utils\validation.py:757: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\irada\.venv\lib\site-packages\sklearn\utils\validation.py:595: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\irada\.venv\lib\site-packages\sklearn\utils\validation.py:604: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

Знайдіть ці ж параметри за допомогою аналітичного рішення;

In [38]:
X_ones = np.ones((X.shape[0], 1))
X = np.hstack((X_ones, X))
w = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)
print(f'Analitic learn coeficients: {w[1:]}')
print(f'Analitic learn intercept: {w[0]}')

Analitic learn coeficients: [3.78762754e+02 4.06820034e+05 1.38604950e+06]
Analitic learn intercept: -173171.6076326356

Порівняйте отримані результати.

Порівнюючи використання scikit-learn та аналітичний метод, приходимо до висновку, що обидва методи дають ідентичний результат, тому для знаходження найкращих показників параметрів вектору (w) можна використовувати будь-який з них